* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black);
}

body,
button {
  font-family: 'Montserrat', sans-serif;
}



 /* --colours palette-- */
 :root {
  --black: #141922;
  --dark: #000000; 
  --topbar-black: #080B12;
  --bottombar-black: #282828;
  --white: #FFFFFF;
  --dark-gray: #717171;
  --gray: #A3A3A3;
  --green: #ADFF2F;
 }
  /* --colours palette-- */

  /* utilities */
  .debug {
    border: 1px solid rgb(255, 255, 255);
  }

  .d-flex {
    display: flex;
  }

  .flex-column {
    flex-direction: column;
  }

  .flex-row {
    flex-direction: row;
  }

  .d-block {
    display: block;
  }

  .d-in-block {
    display: inline-block;
  }

  .rounded {
    border-radius: 50%;
  }

  .active {
    border-left: 3px solid var(--green);
    color: var(--white);
  }

  .hover:hover {
    color: var(--white);
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  
  li:hover svg.icon {
    fill: var(--white);
    color: var(--white)
  }

  li:hover a,
  li:hover button {
    color: var(--white);
  }

  .white-txt {
    color: var(--white);
  }

  .dark-txt {
    color: var(--dark);
  }

  .darkgray-txt {
    color: var(--dark-gray)
  }

  .txt-center {
    text-align: center;
  }

  .bg-dark {
    background-color: var(--dark);
  }

  .bg-black {
    background-color: var(--black);
  }

  .bg-gray {
    background-color: var(--gray);
  }

  .overflow {
    overflow: auto;
  }

  .b-piece {
    content: "";
    display: inline-block;
    border-bottom: 1px solid var(--dark-gray);
    width: 95%;
  }
        /* common size */
    main aside .aside-top ul li a,
    main aside .aside-bottom span,
    main .title p,
    main .subtitle,
    section.bottom-bar .right .name-artist,
    section.bottom-bar .right .song-name,
    section.bottom-bar .center .time {
    font-size: .8rem;
    font-weight: 700;
  }
      /* common size */


  /* /utilities */

  /* main section */

  main {
    height: calc(100vh - 90px);
    position: relative;
    overflow: hidden;
  }

  main header {
    width: calc(100% - 220px);
    min-height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
  }

  main header button.upgrade {
    border: 1px solid var(--white);
    padding: 6px 20px;
    border-radius: 15px;
    text-transform: uppercase;
    margin-right: 5px;
    font-size: .8rem;
    font-weight: 700;
    cursor: pointer;
  }

  main button.upgrade:hover {
    transform: scale(1.1);
  }


     /* main aside  */

   main aside {
     width: 225px;
     height: calc(100vh - 90px);
     min-height: 800;
     justify-content: space-between; 
     flex-direction: column;
    }
        
    main aside .aside-top {
      height: calc(100% - 90px);
      min-height: 350px;
     }

     main aside .aside-top .playlist .playlist-list {
      line-height: 20px;
      height: 200px;
      overflow-y: auto;
    }

    main aside .aside-top nav.menu {
      padding: 20px 0px;
    }

    main aside .aside-top nav.playlist {
      padding: 15px 20px;
      height: 80%;
    }

    main aside .aside-top nav.playlist .nav-voice {
      font-size: .9rem;
      font-weight: 700;
    }
  
    main aside .aside-top .logo {
      width: 170px;
      padding: 15px;
      cursor: pointer;
    }

    main aside .aside-top .logo.mobile {
      display: none;
    }


    main aside .aside-top nav ul li a {
      display: block;
      border: 4px solid black;
    }

    main aside .aside-top nav ul li .icon {
      width: 25px;
      fill: var(--dark-gray);
      margin-left: 12px;
    }


    main aside .aside-top nav ul li span {
      padding: 5px;
    }

    main aside .aside-top nav.playlist {
      height: 85%;
    }


    main aside .aside-top button {
      border-style: none;
      font-size: .9rem;
      font-weight: 600;
      cursor: pointer;
      padding: 10px 0;
    }

    main aside .aside-top button i {
      padding: 10px 12px;
      font-size: 1.1rem;
    }


    main aside .aside-bottom {
      height: 90px;
    }

    main aside span {
      vertical-align: middle;
    }

    main aside .icon {
      vertical-align: middle;
      cursor: pointer;
    }
    

    main aside .aside-bottom .download {
      padding: 3px 10px;
      cursor: pointer;
    }

    main aside .aside-bottom .icon {
      width: 1.5rem;
      font-weight: 600;
    }

    main aside .aside-bottom .user {
      padding: 5px 8px;
    }

    main aside .aside-bottom .user .icon {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      margin-right: 2px;
    }

   
   
     /* /main aside  */
     /* /main container  */

    main .container {
      margin: 80px 0 0 0;
      width: calc(100% - 200px);
      flex-direction: column;
      gap: 20px;
      overflow-y: auto;
    }

    main .container nav.music {
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;
      padding-top: 10px;
      text-transform: uppercase;
      font-size: .8rem;
      font-weight: 700;
    }

    main .container nav.music li {
      display: inline-block;
      padding: 5px;
      position: relative;
    }

    .active-nav {
      width: 40px;
      background-color: var(--green);
      height: 2px;
      position: absolute;
      left: 25%;
      top: 25px;
    }

    main .container .title,
    .container .row {
      padding-left: 10px;
    }

    main .container .title h2 {
      padding: 20px 0 10px;
    }

    .container .row {
      width: 100%;
      flex-wrap: wrap;
      /* justify-content: flex-start; */

    }

    .container .row .col {
      width: calc(100% / 7);
      margin-left: 15px;
    }

        /* card  */

    .container .row .col .card {
      width: 100%;
    }

    .container .row .col .card h4 {
      line-height: 17px;
      padding: 4px 0;
    }


    .container .row .col .card .image {
      position: relative;
      cursor: pointer;
    }

    .container .row .col .card .image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
        /* card-image overlay  */

    .container .image:hover .overlay,
    .container .image:hover .play {
      display: block;
    }

    .image .overlay {
      display: none;
      background-color: rgba(8, 8, 8, 0.5);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .image .play {
      display: none;
      font-size: 3.2rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }  

        /* card-image overlay  */

      /* /main container  */


    /* //main section */


      /* bottom bar  */
    
    .bottom-bar {
      background-color: var(--bottombar-black);
      height: 90px;
      width: 100vw;
      position: fixed;
      justify-content: space-between;
      align-items: center;
    }

    .bottom-bar .center,
    .bottom-bar .left,
    .bottom-bar .right {
      align-items: center;
      height: 100%;
    }

        /* bottom-bar right side  */

    .bottom-bar .right .song {
      align-items: center;
    }

    .bottom-bar .right .song img {
      width: 50px;
      padding: 10px 5px;
      margin-left: 4px;
      display: inlin-block;
      cursor: pointer;
    }

    .bottom-bar .right .song-name:hover {
      border-bottom: 1px solid var(--dark-gray)
    }

    .bottom-bar .right .small-icons {
      padding-left: 10px;
    }

    .bottom-bar .right .small-icons i,
    .bottom-bar .left .tool {
      padding: 0 5px;
      cursor: pointer;
    }

     /* /bottom-bar right side */
     /* bottom-bar center side */

    .bottom-bar .center {
      width: 40%;
      justify-content: center;
    }

    .bottom-bar .center .player-buttons {
     width: 100%;
     max-width: 100%;
     height: 100%;
     justify-content: center;
     align-items: center;
    }

    .bottom-bar .center .player-buttons i {
      padding: 4px 15px;
      font-size: 1.1rem;
      cursor: pointer;
      max-width: 100%;
    }


    .bottom-bar .center .player-buttons i.play {
      font-size: 1.9rem;
    }

    .bottom-bar .center .player-buttons i.play:hover {
      transform: scale(1.2);
    }

    .bottom-bar .center .range-song {
      width: 100%;
      justify-content: center;
      margin-bottom: 20px;
    }

    .bottom-bar .center .range-song .bar {
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .bottom-bar .center .range-song .range {
      width: 70%;
      height: 5px;
      background-color: var(--dark-gray);
      border-radius: 5px;
      position: relative;
    }

     /* /bottom-bar center side */
      /* bottom-bar left  side*/


    .bottom-bar .left .range {
      background-color: var(--dark-gray);
      border-radius: 5px;
      width: 70px;
      max-width: 100%;
      height: 5px;
    }

    .bottom-bar .left .tools {
      margin-right: 15px;
      justify-content: center;
      align-items: center;
    }

    .bottom-bar .left .tool {
      font-size: .9rem;
    }

    .bottom-bar .left .tool.range {
      position: relative;
    }
      /* /bottom-bar left  side*/

       /* /bottom-bar range's overlay  */

      .bottom-bar .overlay {
        display: none;
        background-color: var(--green);
        height: 5px;
        width: 40%;
        position: absolute;
        top: 0;
        left: 0;
      }
  
      .bottom-bar .center .bar:hover .overlay,
      .bottom-bar .left .tool.range:hover .overlay {
        display: block;
      }
  
  
      .bottom-bar .center .range-song .overlay:after,
      .bottom-bar .left .tool.range .overlay:after {
        content: "";
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background-color: #ffffff;
        position: absolute;
        left: calc(100% - 10px);
        top: -5px; 
      }

      /* /bottom-bar range-overlay  */

  
    /* /bottom bar  */




       /* ******MEDIA-QUERIES****** */



  /* MD devices */

   @media all and (max-width: 992px) {

    .container .row {
      /* gap: 3px; */
      padding: 20px 10px;
    }

    .container .row .col {
      width: calc(100% / 5);
      margin-left: 25px;
    }


   }

   /* S devices */

   @media all and (max-width: 768px) {

    .container .row {
      gap: 5%;
      padding: 40px 0px;
      justify-content: center;
    }

    .container .row .col {
      width: calc(100% / 3);
    }
    
   }
 
   /* XS devices */

   @media all and (max-width: 576px) {

    .desktop {
      display: none;
    }

    .active {
      border-style: hidden;
    }

    .b-piece {
      border-bottom: 0px solid var(--dark-gray);
    }

   
         /* main section*/
    main aside {
      width: 50px;
      margin: 0;
      padding: 0;
    }

    main aside .aside-top .logo.mobile {
      display: block;
    }

    main aside .aside-top .logo.mobile img {
      width: 20%;
    }

  
    main header {
      width: calc(100% - 50px);
      left: 50px;
    }

    main .container {
      width: calc(100% - 50px);
    }

    main .container .row {
      gap: 3%;
      padding: 10px 10px;
    }

    main .container .row .col {
      width: calc(100vw / 2.8);
    }

    main .container .title h2 {
      padding: 30px 0;
    }
    
          /* /main section*/

    .bottom-bar .left .tools {
      padding-right: 5px;
    }
    
   }



