* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Montserrat', sans-serif;
}

 /* --colours palette-- */
 :root {
  --black: #141922;
  --dark: #000000; 
  --topbar-black: #080B12;
  --white: #FFFFFF;
 }
  /* --colours palette-- */

  /* utilities */
  .debug {
    border: 1px solid black;
  }

  .d-flex {
    display: flex;
  }

  /* /utilities */

  /* main section */

  main {
    /* background-color: yellow; */
    height: calc(100vh - 90px);
    position: relative;
  }


  main header {
    background-color: orange;
    display: block;
    width: calc(100% - 200px);
    min-height: 75px;
    position: absolute;
    left: 200px;
  }

   main aside {
     width: 200px;
     height: calc(100vh - 90px);
     flex-direction: column;
     justify-content: space-between;
    }
    
    main aside .aside-bottom {
      background-color: rgb(227, 135, 135);
      min-height: 100px;
    }

    main aside .aside-top {
      background-color: blueviolet;
      height: calc(100% - 100px);
    }

    main .container {
      margin: 75px auto 0;
      width: calc(100% - 200px);
      background-color: violet;
      flex-direction: column;
      gap: 20px;
      overflow-y: auto;
    }

    .container .row {
      background-color:cadetblue;
      width: 100%;
      gap: 2.2%;
      flex-wrap: wrap;
      justify-content: flex-start;
    }


    .container .row .col {
      background-color: chocolate;
      width: calc(100vw / 8.5);
      height: calc(100vw / 6);
    }


    /* /main section */

    /* bottom bar  */
    
    .bottom-bar {
      background-color: aqua;
      height: 90px;
      width: 100%;
      position: fixed;
    }

    /* /bottom bar  */






   /*MEDIA-QUERIES*/



  /* MD devices */

   @media all and (max-width: 992px) {

    .container .row {
      gap: 3%;
    }

    .container .row .col {
      background-color: chocolate;
      width: calc(100vw / 6);
      height: calc(100vw / 4);
    }

   }

   /* S devices */

   @media all and (max-width: 768px) {

    .container .row {
      gap: 5%;
      justify-content: center;
    }

    .container .row .col {
      background-color: chocolate;
      width: calc(100vw / 3.4);
      height: calc(100vw / 3);
    }
    
   }
 
   /* XS devices */

   @media all and (max-width: 576px) {
    
    main aside {
      width: 50px;
      background-color: red;
    }

    main header {
      background-color: orange;
      width: calc(100% - 50px);
      left: 50px;
    }

    main .container {
      width: calc(100% - 50px);
      background-color: violet;
    }

    .container .row .col {
      background-color: chocolate;
      width: calc(100vw / 2.8);
      height: calc(100vw / 2);
    }
    
   }



